@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    
color:rgb(244, 246, 246);
background-color:rgb(3, 3, 3);
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
}

@layer components {
  .menuLink {
    @apply  cursor-pointer hover:text-[#c9c9c9];
  }
  

}